<br>
<br>

<div class="container">
    <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-2">


        <div class="col">
            <div class="card radius-15 bg-primary">
                <div class="card-body text-center">
                        
                        <h4 class="mb-0 mt-5 text-white">View Launches</h4>
                       
                </div>
            </div>
        </div>
        
        <div (click)="goToCapsules()" class="col">
            <div class="card radius-15 bg-danger">
                <div class="card-body text-center">
                        
                        <h4  class="mb-0 mt-5 text-white">View Capsules</h4>
            
                </div>
            </div>
        </div>

    


    </div>
</div>
